/*
This stylesheet is for responsive design styling for Philosotea.space
*/

@media screen and (min-width:1700px) {
  blockquote p {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
}

@media screen and (max-width:1200px) {
  blockquote p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width:1024px) {


  /* CSS Element Level Styles */


  /* CSS Class Level Styles */

  /* Header Styling */
  .top-nav {
    margin-left: 0.5rem;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-areas: "logo links1 links2 name";
  }

  .top-logo {
    margin: 3px 0 0;
  }

  /* Quote Splash Styling */
  .quote-splash {
    grid-template-columns: 1fr;
    grid-template-areas: "quote1"
                         "quote2"
                         "quote3";
  }

  /* Footer Styling */
  .footer-container {
    margin-left: 0.5rem;
    grid-template-columns: 200px 1.4fr 0.6fr;
    grid-template-areas: "teacup social legal";
    justify-content: center;
  }

  /* CSS ID Level Styles */

}

@media screen and (max-width:890px) {

  /* CSS Element Level Styles */
  body {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  /* CSS Class Level Styles */
  /* Header Styling */
  .top-nav {
    grid-template-columns: 100px 1fr 1fr;
    grid-template-areas: "logo links1 links2";
  }

  .site-name {
    display: none;
  }

  .sitenav-left,
  .sitenav-right {
    width: 100%;
    justify-content: left;
  }

  /* Quote Splash Styling */
  blockquote p {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  /* CSS ID Level Styles */

}

@media screen and (max-width:657px) {

  /* CSS Element Level Styles */
  li {
    margin: 0.2rem 0.2rem;
  }

  /* CSS Class Level Styles */
  /* Header Styling */
  .top-nav {
    margin-right: 0.5rem;
    grid-template-columns: 1fr 100px;
    grid-template-rows: calc(var(--header-height) * 0.5);
    grid-template-areas: "links1 logo"
                        "links2 logo";
  }

  .sitenav-left,
  .sitenav-right {
    height: calc(var(--header-height) * 0.5);
    /* justify-content: center; */
  }

  /* Quote Splash Styling */
  blockquote p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  blockquote > footer {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  /* Footer Styling */
  .footer-container {
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "teacup social social"
                         "teacup legal  legal";
    justify-content: center;
  }

  .platform-links {
    align-self: flex-end;
  }

  .social-icons {
    margin: 0 0 0 0.2rem;
    font-size: 0.8rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

  /* CSS ID Level Styles */

}

@media screen and (max-width: 350px) {
  .sitenav-left,
  .sitenav-right {
    font-size: 0.75rem;
  }

  .social-icons {
    margin: 0 0 0 0.15rem;
    font-size: 0.75rem;
  }

  .copyright {
    font-size: 0.6rem;
  }

}

@media screen and (max-height:500px) {
  /* Quote Splash Styling */
  .quote-splash {
    margin: var(--header-height) 0 0 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "quote1 quote2 quote3";
  }

  .quote {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  blockquote p {
    padding-bottom: 0.2rem;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  blockquote > footer {
    padding-top: 0.2rem;
    font-size: 0.8rem;
    width: 70%;
    height: auto;
    background: none;
    text-align: right;
    justify-self: end;
    align-self: flex-end;
  }
}