/*
This is the primary stylesheet for philosotea.space
*/

/* CSS Global Level Styles and Variables */
:root {
  --primary-color: #48B500;
  --secondary-color: #c2d8b9ff;
  --tertiary-color: #63768dff;
  --light-color: #e8e9ebff;
  --dark-color: #3e3f3e;
  --max-width: 1200px;
  --header-height: 80px;
  --serif-font: 'Crimson Text', 'Times New Roman', Times, serif;
  --san-serif-font: 'Arimo', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-color);
  color: var(--light-color);
  font-family: var(--san-serif-font);
  overflow-x: hidden;
}

/* CSS Element Level Styles */

/* CSS Class Level Styles */

/* Utility Classes */
.top-container {
  margin: 120px auto;
  max-width: var(--max-width);
}
.underline {
  margin: 0 auto;
  background: var(--dark-color);
  width: 0%;
  height: 2px;
  border-radius: 15px;
}

@keyframes show-underline {
  from {
    visibility: visible;
    width: 0%;
  }
  to {
    visibility: visible;
    width: 100%;
  }
}

a:hover + .underline {
  animation: show-underline 250ms linear 0s 1 normal forwards;
}

.active {
  color: var(--dark-color);
}

/* Header Styling */

/* Quote Splash Styling */

/* Footer Styling */

/* CSS ID Level Styles */