/*
This is the primary stylesheet for philosotea.space
*/

/* CSS Global Level Styles and Variables */
:root {
  --primary-color: #48B500;
  --secondary-color: #c2d8b9ff;
  --tertiary-color: #63768dff;
  --light-color: #e8e9ebff;
  --dark-color: #3e3f3e;
  --max-width: 1100px;
  --logo-width: clamp(50px, 100px, 20vw);
  --header-height: calc(var(--logo-width) * 0.8);
  --serif-font: 'Crimson Text', 'Times New Roman', Times, serif;
  --san-serif-font: 'Arimo', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-color);
  color: var(--light-color);
  font-family: var(--san-serif-font);
}

header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  background: var(--primary-color);
  z-index: 5;
}

footer {
  margin-top: 0.5rem;
  width: 100%;
  background: var(--primary-color);
}

/* CSS Element Level Styles */
img {
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--light-color);
  transition: color 400ms;
}

a:hover {
  color: var(--dark-color);
}

ul {
  list-style: none;
}

li {
  margin: 0.4rem 0.4rem;
  padding: 0.2rem;
}

ol li {
  margin: 0.8rem 0.5rem;
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
  line-height: clamp(1.8rem, 2.2vw, 2.2rem);
}

p {
  padding: 0.2rem 0.1rem;
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  line-height: clamp(1.8rem, 2.2vw, 2.2rem);
}

main p {
  text-indent: clamp(1.5rem, 2.2vw, 2.2rem);
}

blockquote p {
  text-indent: 0;
}

article h1 {
  font-weight: bold;
  font-size: clamp(1.8rem, 2vw, 2.4rem);
}

article h2 {
  margin: 1rem 0;
  font-size: clamp(1.2rem, 1.6vw, 2rem);
  font-weight: lighter;
}

article p {
  font-family: var(--serif-font);
  max-width: 700px;
  font-size: clamp(1.2rem, 1.4vw, 1.4rem);
}

article .article-intro p {
  font-family: var(--san-serif-font);
  font-size: clamp(1rem, 1.2vw, 1.2rem);
}


/* CSS Class Level Styles */
/* Header Styling */
  .main-nav {
    max-width: var(--max-width);
    height: inherit;
    margin: 0 auto;
    padding: 0.25rem;
    background: var(--primary-color);
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-areas: "logo name";
  }

  .menu-toggle,
  .close-icon {
    position: fixed;
    top: 25px;
    left: calc(var(--logo-width) * 0.5);
    width: 10vw;
    height: 10vw;
    z-index: 7;
    opacity: 0;
    cursor: pointer;
  }

  .close-icon {
    padding: 0.2rem;
    display: none;
    z-index: 6;
    opacity: 1;
  }

  .menu-toggle:checked + span{
    display: inline-block;
  }

  @keyframes show-nav {
    from {
      height: 100%;
    }
    to {
      height: 100vh;
    }
  }

  .menu-toggle:checked ~ .main-nav {
    grid-template-columns: 1fr;
    grid-template-areas: "nav-left"
                        "nav-right";
    animation: show-nav 500ms ease-out 0s 1 normal forwards;
  }

  .menu-toggle:checked ~ .main-nav > .site-logo,
  .menu-toggle:checked ~ .main-nav > .site-name {
    display: none;
  }

  .menu-toggle:checked ~ .main-nav > .sitenav-left,
  .menu-toggle:checked ~ .main-nav > .sitenav-right {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-toggle:checked ~ .main-nav > .sitenav-right {
    align-self: flex-start;
  }

  .site-name {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: name;
  }

  .site-logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: logo;
  }

  .sitenav-left,
  .sitenav-right {
    font-size: clamp(1.5rem, 1vw, 2rem);
    color: var(--dark-color);
    display: none;
    grid-area: nav-left;
  }

  .sitenav-right {
    grid-area: nav-right;
  }

/* Footer Styling */
  .footer-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0.25rem;
    background: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "social"
                        "teacup"
                        "legal";
    justify-items: center;
    align-items: center;
  }

  .platform-links {
    grid-area: social;
  }

  .social-icons {
    display: flex;
  }

  .teacup-container {
    grid-area: teacup;
  }

  .legal {
    grid-area: legal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .legal p {
    margin: 0 0.5rem;
  }

/* Main Content Styling */
  .main-content {
    padding-top: var(--header-height);
    min-height: 90vh;
  }

  .showcase {
    margin: 0 auto;
    padding: 1.5rem;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
  }

  .showcase h1 {
    margin: 2rem;
    font-size: clamp(1.8rem, 3vw, 3rem);
    text-align: center;
  }

  .showcase h2 {
    margin: 0.5rem 0;
    font-size: clamp(1.4rem, 2.5vw, 2.5rem);
    font-weight: lighter;
  }

  .showcase h3 {
    margin-bottom: 1.5rem;
    font-size: clamp(1.2rem, 1.6vw, 1.5rem);
    font-weight: bold;
  }

  .showcase .button {
    align-self: flex-end;
  }

  .double-showcase {
    display: flex;
    flex-direction: column;
  }

/* About Page Styling */
  .about-info {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "main"
                         "goals";
    justify-items: center;
    align-items: center;
  }

  .main-about h3 {
    text-align: center;
  }

  .goals {
    margin: 2rem;
    max-width: 600px;
  }

  .goals h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
  }

  .goals h3 {
    margin-bottom: 1rem;
    font-weight: lighter;
    text-align: center;
  }

  .profiles-area {
    margin: 3rem auto;
    max-width: var(--max-width);
    font-weight: normal;
    display: grid;
  }

  .profiles-area h2 {
    margin: 2rem;
    text-align: center;
  }

  .profiles-area h3 {
    margin: 0 1rem 2rem;
    text-align: center;
  }

  .profile {
    margin: 1.5rem;
    padding: 1rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .profile img {
    max-width: 300px;
    border-radius: 50%;
    border: 3px solid var(--light-color);
  }

  .profile h2 {
    margin: 1rem 0;
  }

  .profile h4 {
    margin-bottom: 1.5rem;
    text-align: center;
    font-style: italic;
  }

  .profile p {
    text-align: center;
    text-indent: 0;
  }

  .contact {
    margin: 0 auto;
    padding: 2rem;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

  .contact h2 {
    align-self: center;
  }

  .contact h3 {
    margin: 1rem;
    align-self: center;
  }

  .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact-form input[type="submit"] {
    max-width: 300px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 500ms, color 500ms;
  }

  .contact-form input[type="submit"]:hover {
    color: var(--dark-color);
    transform: scale(1.1);
  }

  .form-section {
    margin: 1rem 0;
  }

  .form-section label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  .form-section input[type=text],
  .form-section input[type=email] {
    padding-left: 0.5rem;
    width: 100%;
    max-width: 300px;
    height: 2.5rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 5px;
  }

  .form-section textarea {
    padding: 0.25rem;
    width: 100%;
    max-width: 700px;
    height: 8rem;
    font-size: 1.2rem;
    font-family: var(--san-serif-font);
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  .form-section input:focus,
  .form-section textarea:focus {
    transition: box-shadow 250ms;
    box-shadow: 0px 0px 5px 2px var(--primary-color);
  }

/* Quote Splash Styling */
  .quote-splash {
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .quote {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .quote p {
    margin: 0 2rem;
    padding: 0.5rem;
    text-align: center;
    font-size: clamp(1.8rem, 2.5vw, 3.5rem);
    line-height: clamp(2.2rem, 3vw, 4rem);
  }

  .quote footer {
    margin: 0 2rem;
    width: auto;
    align-self: flex-end;
    background: none;
    text-align: right;
    font-size: clamp(0.8rem, 1.5vw, 2.2rem);
  }

/* Page Headers */
  .page-description h2 {
    margin: 2rem;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    text-transform: uppercase;
    font-weight: lighter;
  }

  .page-description p {
    margin: 0.5rem 1.5rem;
  }

/* Title Splash styling */
  .title-splash {
    height: 30vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-splash h1 {
    margin: 0 2rem;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: clamp(2rem, 3.5vw, 3.5rem);
    line-height: clamp(2.2rem, 3vw, 4rem);
  }

  .grid-items-header {
    margin: 1rem 1rem 2rem;
    font-size: clamp(1.8rem, 2.6vw, 2.6rem);
    text-align: center;
  }

/* Card List Styling */
  .card-list {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  .card {
    margin: 0.5rem 1rem;
    max-width: 500px;
    display: grid;
    grid-template-rows: 0.25fr 0.25fr 0.5fr;
    grid-template-areas: "image"
                         "header"
                         "body";
    border: 2px solid white;
  }

  .card:hover img {
    transition: transform 250ms;
    transform: scale(1.1);
  }

  .card-image {
    grid-area: image;
  }

  .card-header {
    padding: 1rem 0.5rem 0.5rem;
    grid-area: header;
  }

  .card-body {
    padding: 0.5rem 1rem;
    height: 100%;
    grid-area: body;
  }

  .card-body p {
    font-weight: normal;
    text-indent: 0;
  }

  .card-header h2 {
    margin-bottom: 0.2rem;
    font-weight: lighter;
  }

  .card-header h3 {
    margin-bottom: 1rem;
    font-weight: bolder;
  }

  .card-header h4 {
    margin-bottom: 1.5rem;
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
  

/* Events/Venue Styling */
  .venue-info {
    margin-top: 2rem;
    padding-top: 2rem;
  }

  .venue-intro {
    padding-top: 2rem;
  }

  .venue-intro h2 {
    margin: 1rem 0 2rem;
    text-align: center;
  }

/* Article Page Styling */
  .article-mast {
    padding: 4rem 1rem 1rem;
  }

  .article-mast img {
    margin-top: 2rem;
    border: 5px solid var(--primary-color);
  }

  .article-metainfo {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .article-metainfo img {
    margin: 1rem 0.2rem;
    max-width: 80px;
    border-radius: 50%;
  }

  .article-metainfo a:hover {
    color: var(--primary-color);
  }

  .article-metainfo h4 {
    margin-left: 0.5rem;
  }

  .article-header h3 {
    margin-bottom: 1.5rem;
  }

  .article-intro {
    font-family: var(--san-serif-font);
    margin-bottom: 3rem;
    justify-self: center;
  }

  .article-body {
    justify-self: center;
  }

/* Form Submission Message */
  .form-message {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .form-message h1 {
    margin-top: 5rem;
  }

  .form-message p {
    margin-bottom: 2rem;
    text-indent: 0;
    text-align: center;
  }

  .form-message a:hover {
    color: var(--primary-color);
  }

/* Tag Styling */
  .category-tags {
    padding: 1rem 0.5rem 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }

  .tag {
    margin: 0.2rem 0 0.2rem 0.5rem;
    padding: 0.3rem 0.8rem;
    display: inline;
    height: 1.6rem;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 15px 1px 15px 1px;
    background: var(--tertiary-color);
    color: var(--light-color);
    opacity: 0.75;
  }

  .tag-header {
    margin: 2rem;
    padding: 1.2rem;
    height: 4rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 15px 1px 15px 1px;
    background: var(--tertiary-color);
    color: var(--light-color);
  }

  .tag:hover {
    transition: opacity 200ms;
    opacity: 1;
  }

  .white-tag {
    background: #306480;
  }

  .green-tag {
    background: #658646;
  }

  .black-tag {
    background: #2E2836;
  }

  .oolong-tag {
    background: #A06E1D;
  }

  .puer-tag {
    background: #463730;
  }

  .personal-tag {
    background: #29335C;
  }

  .rant-tag {
    background: #BC4B51;
  }

  .concept-tag {
    background: #5B3758;
  }


/* Utility Classes */
  .outline {
    border: 0.15rem solid yellow;
  }

  .underline {
    margin: 0 auto;
    background: var(--dark-color);
    width: 0%;
    height:2px;
    border-radius: 1rem;
  }

  @keyframes show-underline {
    from {
      visibility: visible;
      width: 0%;
    }
    to {
      visibility: visible;
      width: 100%;
    }
  }

  a:hover + .underline {
    animation: show-underline 250ms linear 0s 1 normal forwards;
  }

  .active a {
    color: var(--dark-color);
  }

  .active .underline {
    width: 100%;
  }

  .button {
    margin: 1rem;
    padding: 0.75rem 0.75rem;
    display: inline-block;
    background: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    border-radius: 5px;
  }

  .content-container {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    display: grid;
    max-width: var(--max-width);
  }

  /* Color Themes */

  .light-theme {
    background: var(--light-color);
    color: var(--dark-color);
  }

  .light-theme a {
    color: var(--dark-color);
  }

  .light-theme a:hover,
  .dark-theme a:hover {
    color: var(--primary-color);
  }

  .light-theme .category-tags > a {
    color: var(--light-color);
  }

  .light-theme .button:hover {
    color: var(--light-color);
  }

  .dark-theme {
    background: var(--dark-color);
    color: var(--light-color);
  }

  .dark-theme a {
    color: var(--light-color);
  }

  .dark-theme .category-tags > a {
    color: var(--light-color);
  }

  .past-event {
    opacity: 0.5;
  }

/* CSS ID Level Styles */
  #top-name {
    width: clamp(170px, 55vw, 250px);
  }

  #top-logo {
    width: clamp(50px, 100px, 20vw);
  }

  #teacup {
    margin: 0 0.5rem;
    width: clamp(170px, 70vw, 250px);
  }

  #quote1 {
    background: url(/img/background/tea/tea-background-4.jpg) no-repeat center center/cover;
  }

  #quote2 {
    background: rgba(0,0,0,0.5) url(/img/background/tea/tea-background-2.jpg) no-repeat left center/cover;
    background-blend-mode: darken;
  }

  #quote3 {
    background: rgba(0,0,0,0.5) url(/img/background/tea/tea-background-1.jpg) no-repeat right center/cover;
    background-blend-mode: darken;
  }

  #quote4 {
    background: rgba(0,0,0,0.5) url(/img/background/tea/tea-background-7.jpg) no-repeat center center/cover;
    background-blend-mode: darken;
  }

  #quote5 {
    background: rgba(0,0,0,0.5) url(/img/background/tea/tea-background-5.jpg) no-repeat left center/cover;
  }

  #quote6 {
    background: rgba(0,0,0,0.45) url(/img/background/tea/tea-background-8.jpg) no-repeat center center/cover;
    background-blend-mode: darken;
  }

  #quote7 {
    background: rgba(0,0,0,0.5) url(/img/background/tea/tea-background-1.jpg) no-repeat right center/cover;
    background-blend-mode: darken;
  }

  #tea-header {
    background: rgba(0,0,0,0.5) url(/img/background/tea/tea-background-1.jpg) no-repeat right center/cover;
    background-blend-mode: darken;
  }

  #philosophy-header {
    background: rgba(0,0,0,0.5) url(https://source.unsplash.com/2500x600/?philosophy) no-repeat left center/cover;
    background-blend-mode: darken;
  }

  #podcast-header {
    background: rgba(0,0,0,0.5) url(https://source.unsplash.com/2500x600/?podcast) no-repeat center center/cover;
    background-blend-mode: darken;
  }

  #events-header {
    background: rgba(0,0,0,0.35) url(https://source.unsplash.com/2500x600/?gathering) no-repeat right center/cover;
    background-blend-mode: darken;
  }

  #easteregg {
    padding: 0;
    font-size: 0.5rem;
    line-height: 1rem;
    text-align: center;
    text-indent: 0;
    opacity: 0;
    transition: opacity 2s;
  }

  #easteregg:hover {
    opacity: 1;
  }