// global variables and functions
$max-width: 1100px;
$logo-width: clamp(50px, 100px, 20vw);
$header-height: calc(#{$logo-width} * 0.8);
$sanserif-font1: 'Manrope', Arial, Helvetica, sans-serif;
$sanserif-font2: 'Quicksand', Arial, Helvetica, sans-serif;
$serif-font: 'Roboto Slab', 'Times New Roman', Times, serif;

$colors: (
  primary:#399e5a,
  secondary: #C1731F,
  tertiary: #C0BABC,
  light: #e8e9eb,
  dark:#3e3f3e
);

@function paint($color-name) {
  @return map-get($colors, $color-name);
};

$margin: (
  light: 0.5rem,
  medium: 1.5rem,
  heavy: 3rem,
  horizontal: 0 1.5rem,
  vertical: 1.5rem 0
);

@function separate($margin-amount) {
  @return map-get($margin, $margin-amount);
};

$padding: (
  light: 0.5rem,
  medium: 1.5rem,
  heavy: 3rem,
  horizontal: 0 1.5rem,
  vertical: 1.5rem 0
);

@function pad($pad-amount) {
  @return map-get($padding, $pad-amount);
};

$fontsizes: (
  smaller: clamp(1rem, 1vw, 1.2rem),
  regular: clamp(1.2rem, 1.2vw, 1.4rem),
  large: clamp(1.6rem, 1.8vw, 2rem),
  larger: clamp(2.4rem, 2.4vw, 2.8rem)
);

@function fsize($font-size) {
  @return map-get($fontsizes, $font-size);
};

$lineheights: (
  smaller: clamp(1rem, 1.2vw, 1.4rem),
  regular: clamp(1.6rem, 2.2vw, 2.2rem),
  large: clamp(2rem, 2.5vw, 2.5rem),
  larger: clamp(2.2rem, 3vw, 3rem)
);

@function lheight($line-height) {
  @return map-get($lineheights, $line-height);
}