@import 'variables';
@import 'functions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: paint(dark);
  color: paint(light);
  font-family: $sanserif-font1;
} 